@using (Html.BeginForm("Search","Home",FormMethod.Get,new { @class= "search_form" }))
{
        <input type="text" name="q" placeholder="Arama...">
        <button type="submit">ARA</button>
        <input type="submit" value="Send">
}
