
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br /><br /><br /><br />
<div class="w3ls_about_grids">
    <div class="col-md-6 w3ls_about_grid_left">
        <p>
            ANGEL STORE olarak size güvenli bir alışveriş sunmaktan mutluluk duyarız.
            Sitemize Hoşgeldiniz.Arkanıza yaslanın ve online alışveriş keyfini doya doya
            yaşayın. İyi Alışverişler dileriz.
        </p>
        <div class="col-xs-2 w3ls_about_grid_left1">
            <span class="glyphicon glyphicon-new-window" aria-hidden="true"></span>
        </div>
        <div class="col-xs-10 w3ls_about_grid_left2">
            <p>
                <hr />
                <h3>Bizim Hakkımızda Yapılan Geri Dönüşler</h3>
                <hr />
            </p>
        </div>
        <div class="clearfix"> </div>
        <div class="col-xs-2 w3ls_about_grid_left1">
            <span class="glyphicon glyphicon-flash" aria-hidden="true"></span>
        </div>
        <div class="col-xs-10 w3ls_about_grid_left2">
            <p>
                <button class="btn btn-success btn-block ">Yorumlar</button>
            </p>
        </div>
        <div class="clearfix"> </div>
    </div>
    <div class="col-md-6 w3ls_about_grid_right">
        <img src="~/Content/images/ankaplus_e_ticaret_nedir.jpg" style="max-width:700px;max-height:500px;min-width:700px;min-height:500px;alt=" " class="img-responsive">
    </div>
    <div class="clearfix"> </div>
</div>